@font-face {
  font-family: 'EntaroNeue-Medium';
  src: url('../fonts/EntaroNeue-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/EntaroNeue-Medium.woff') format('woff'), 
  url('../fonts/EntaroNeue-Medium.ttf')  format('truetype'), 
  url('../fonts/EntaroNeue-Medium.svg#EntaroNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'EntaroNeue-Mono';
  src: url('../fonts/EntaroNeue-Mono.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/EntaroNeue-Mono.woff') format('woff'), 
  url('../fonts/EntaroNeue-Mono.ttf')  format('truetype'), 
  url('../fonts/EntaroNeue-Mono.svg#EntaroNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miller-Display';
  src: url('../fonts/Miller-Display.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Miller-Display.otf')  format('opentype'),
       url('../fonts/Miller-Display.woff') format('woff'), 
       url('../fonts/Miller-Display.ttf')  format('truetype'), 
       url('../fonts/Miller-Display.svg#Miller-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
